<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><{$title}></title>
<link href="<{$smarty.const._DOMAIN_}>/css/base.css" rel="stylesheet" type="text/css"/>
<link href="<{$smarty.const._DOMAIN_}>/css/module.css" rel="stylesheet" type="text/css"/>
<link href="<{$smarty.const._DOMAIN_}>/css/style.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="<{$smarty.const._DOMAIN_}>/js/dj/jquery.js"></script>
<script type="text/javascript" src="<{$smarty.const._DOMAIN_}>/js/dj/dj.js"></script>
<script>
	// dj config
    dj.postfix = ".js";
    dj.charset = "UTF-8";
    dj.version = "1.1.3"
    dj.require('tool.tip');
    dj.require('tool.box');
    dj.require('leju.cookie');
    dj.require('leju.linkage');
    dj.require('leju.ui');
    dj.require('leju.tabmenu');
    
</script>
</head>
<body>
<!--header start-->
<div class="header mb5"> <img src="<{$smarty.const._DOMAIN_}>/images/logo.png" class="ml20"/><img src="<{$smarty.const._DOMAIN_}>/images/cms_v5.png" class="ml30"/> </div>
<!--header end-->
<div id="control_sidebar" class="sidebar_show" title="隐藏左侧">隐藏显示左侧</div>
<div class="container clearfix">
	<div class="sidebar">
		<div class="sidebar_user_info p5 pl20 lh24">
			<p>用户：<a href="#" class="fb">北京-<{$smarty.const.USER_NAME}></a></p>
			<p>地址：<a href="#" class="fb">192.168.0.1</a></p>
		</div>
		<!--drop_menu start-->
		<div class="drop_menu1_title f14 fb"><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fr menu_ico_down" /><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fl menu_ico1" /><span class="fl ml5">常用功能</span></div>
		<div class="drop_menu1_con">
			<div class="drop_menu2_title_minus f14">频道列表</div>
			<ul class="menu_list blue">
                <{channel_list}>
			</ul>
        <div class="drop_menu2_title_minus f14">内容管理</div>
			<ul class="menu_list blue">
                <li><a href="<{buildurl url=content/embeddata/index}>">全局变量</a></li>
                <li><a href="<{buildurl url=content/keyword/index}>">关键词</a></li>
                <li><a href="<{buildurl url=content/advertisement/index}>">广告模板</a></li>
                <li><a href="<{buildurl url=content/alertkeyword/index}>">禁发词</a></li>

			</ul>
		</div>
        <div class="drop_menu1_title f14 fb"><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fr menu_ico_down" /><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fl menu_ico3" /><span class="fl ml5">高级配置</span></div>
		<div class="drop_menu1_con">
			<ul class="menu_list blue">
                <li><a href="<{buildurl url=project/project/commonlist}>">默认项目</a></li>
                <li><a href="<{buildurl url=template/template/commonlist}>">默认模板</a></li>
                <li><a href="<{buildurl url=templatefield/common/index}>">通用模板域</a></li>
                <li><a href="<{buildurl url=cron/cron/index}>">计划任务</a></li>
                <li><a href="<{buildurl url=resource/resource/index}>">资源管理</a></li>
			</ul>
        </div>

		<div class="drop_menu1_title f14 fb"><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fr menu_ico_down" /><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fl menu_ico3" /><span class="fl ml5">系统管理</span></div>
		<div class="drop_menu1_con">
			<ul class="menu_list blue">
                <li><a href="<{buildurl url=channel/channel/index }>">频道管理</a></li>
                <li><a href="<{buildurl url=cron/cron/index}>">系统通知</a></li>
                <li><a href="<{buildurl url=cron/cron/index}>">日志管理</a></li>
			</ul>
        </div>

        <!--系统帮助 start-->
        <div class="drop_menu1_title f14 fb"><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fr menu_ico_down" /><img src="<{$smarty.const._DOMAIN_}>/images/i.png" class="fl menu_ico3" /><span class="fl ml5">系统帮助</span></div>
		<div class="drop_menu1_con">
			<ul class="menu_list blue">
				<li><a href="<{buildurl url=cron/cron/index}>">开发文档</a></li>
                <li><a href="<{buildurl url=cron/cron/index}>">全局函数</a></li>
                <li><a href="<{buildurl url=cron/cron/index}>">使用指南</a></li>
			</ul>
        </div>
        <!--系统帮助 end-->

		<!--drop_menu end-->
	</div>
	<div class="main">
		<div class="content">
			<!--breadcrumb start-->
			<div class="breadcrumb p10 pl20"><{navbar}></div>
			<!--breadcrum end-->
			<!--{include file=section/public_content_tab.html}-->
			<!--content start-->
            <div style="font-size: 18px; color: #334455; padding: 10px;"><{$content}></div>
			<!--content end-->
		</div>
	</div>
</div>
<!--footer start-->
<div class="footer"> </div>
<!--footer end-->
</body>
</html>