<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("修改管理员信息");})


        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }
        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform"});
        $("#admin_password").formValidator({empty:true,onshow:"不修改密码请留空。",onfocus:"密码必须为有小写、大写、数字且10-16位字符"}).inputValidator({min:10,max:16,onerror:"密码必须为有小写、大写、数字且10-16位字符"});
    })
    //-->
</script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">管理员管理</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/manage/"><em>管理员列表</em></a>
        <span>|</span>
        <a href="/admin/manage/add"><em>添加管理员</em></a></div>
</div>
<div class="pad-lr-10">
    <form action="/admin/manage/edit" method="post" autocomplete="off" id="myform">
        <table width="100%"  class="table_form">

            <tr>
                <th width="80" >用户名：</th>
                <td class="y-bg"><{$admin_truename}></td>
            </tr>
            <tr>
                <th>密&nbsp;&nbsp;&nbsp;码：</th>
                <td class="y-bg"><input type="password" class="input-text" name="admin_password" value="" id="admin_password" /></td>
            </tr>
        </table>
        <div class="bk15"></div>
        <input type="hidden"  name="uid" value="<{$admin_uid}>" />
        <input type="hidden"  name="page" value="<{$page}>" />
        <input type="submit" class="button" name="dosubmit" value="提交" />
    </form>
</div>
</body>
</html>