<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("添加管理员");})


        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }
        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform"});
        $("#email").formValidator({onshow:"请输入邮箱",onfocus:"邮箱格式错误",oncorrect:"正确"}).regexValidator({regexp:"email",datatype:"enum",onerror:"邮箱格式错误"}).ajaxValidator({
            type : "get",
            url : "/admin/manage/ajaxemail",
            data :"",
            datatype : "html",
            async:'false',
            success : function(data){
                if( data == "1" ){
                    return true;
                }else{
                    return false;
                }
            },
            buttons: $("#dosubmit"),
            onerror : "邮箱已存在。",
            onwait : "请稍候..."
        });
        $("#username").formValidator({onshow:"请输入用户名",onfocus:"用户名格式错误,中文、字母、数字 _"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"用户名格式错误,中文、字母、数字 _"});
        $("#password").formValidator({onshow:"请输入密码",onfocus:"密码必须为有小写、大写、数字且10-16位字符"}).inputValidator({min:10,max:16,onerror:"密码必须为有小写、大写、数字且10-16位字符"});
    })
    //-->
</script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">管理员管理</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/manage/"><em>管理员列表</em></a>
        <span>|</span>
        <a href="/admin/manage/add"  class="on"><em>添加管理员</em></a></div>
</div>
<div class="pad-lr-10">
    <form action="/admin/manage/add" autocomplete="off" method="post" id="myform">
        <table width="100%"  class="table_form">
            <tr>
                <th width="80">邮箱：</th>
                <td class="y-bg"><input type="text" class="input-text" name="email" id="email" /></td>
            </tr>
            <tr>
                <th width="80">用户名：</th>
                <td class="y-bg"><input type="text" class="input-text" name="username" id="username" /></td>
            </tr>
            <tr>
                <th>密&nbsp;&nbsp;&nbsp;码：</th>
                <td class="y-bg"><input type="password" class="input-text" name="password" id="password" /></td>
            </tr>
        </table>
        <div class="bk15"></div>
        <input type="submit" class="button" id="dosubmit" name="dosubmit" value="提交" />
    </form>
</div>
</body>
</html>