<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("锁屏广告");
        })

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body><div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">
        锁屏广告
        <em class="red">(提示：积分墙广告两个状态分别为 "有效"、"已上架" 时广告才会生效)</em>
    </h2>
    <div class="content-menu ib-a blue line-x">
        <div class="rt">
            <form action="/admin/adoperate/" method="post" name="form_member_search">
                <select name="action_status">
                    <option value='' >请选择状态</option>
                    <{if $adZStatus}>
                        <{foreach from=$adZStatus item=item key=key}>
                            <{if is_numeric($actionStatus) && $actionStatus == $key}>
                                <option value='<{$key}>' selected><{$item}></option>
                            <{else}>
                                <option value='<{$key}>' ><{$item}></option>
                            <{/if}>
                        <{/foreach}>
                    <{/if}>
                </select>
                <select name="action_type">
                    <option value='' >请选择类别</option>
                    <{if $adType}>
                    <{foreach from=$adType item=item key=key}>
                        <{if $actionType == $item.action}>
                            <option value='<{$item.action}>' selected><{$item.name}></option>
                        <{else}>
                            <option value='<{$item.action}>' ><{$item.name}></option>
                        <{/if}>
                    <{/foreach}>
                    <{/if}>
                </select>
                标题：
                <input name="keyword" type="text" value="<{$keyword}>" class="input-text" />
                <input type="submit" name="search" class="button" value="搜索" />
            </form>
        </div>
        <a href="/admin/adoperate/" class="on">
            <em>锁屏广告</em>
        </a>
        <span>|</span>
        <a href="/admin/adoperate/adddetail" >
            <em>积分墙广告添加</em>
        </a>
        <span>|</span>
        <a href="/admin/adoperate/addclickdetail" >
            <em>点击广告添加</em>
        </a>
        <span>|</span>
        <a href="/admin/adoperate/addintent" >
            <em>应用广告添加</em>
        </a>
    </div>
</div>
<div class="pad-lr-10">
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th align="left">广告ID</th>
                <th align="left">广告标题</th>
                <th align="left">是否置顶</th>
                <th align="left">实际点击数</th>
                <th align="left">上架时间</th>
                <th align="left">下架时间</th>
                <th align="left">类别</th>
                <th align="left">积分墙状态</th>
                <th align="left">状态</th>
                <th align="left">创建时间</th>
                <th align="left">操作</th>
            </tr>
            </thead>
            <tbody>
            <{if $adList}>
            <{foreach from=$adList item=item key=key}>
            <tr>
                <td align="left"><{$item.id}></td>
                <td align="left"><{$item.name}></td>
                <td align="left"><{$adTop[$item.top]}></td>
                <td align="left"><{$item.click_count}></td>
                <td align="left"><{$item.start_date}></td>
                <td align="left"><{$item.end_date}></td>
                <td align="left"><{$adType[$item.action]['name']}></td>
                <td align="left">
                    <{if in_array($item.action,array('detail','preferential_detail'))}>
                    <{$adStatus[$item.status]}>
                    <{/if}>
                </td>
                <td align="left">
                    <{if 1 == $item.status && 1 == $item.z_status}>
                    <span class="green"><{$adZStatus[$item.z_status]}></span>
                    <{else}>
                    <{$adZStatus[$item.z_status]}>
                    <{/if}>
                </td>
                <td align="left"><{$item.ctime}></td>
                <td align="left">
                    <{if 1 == $item.z_status}>
                    <a href="/admin/adoperate/shut?id=<{$item.id}>">[下架]</a>
                    <{else}>
                    <a href="/admin/adoperate/open?id=<{$item.id}>">[上架]</a>
                    <{/if}>
                    <{if in_array($item.protocol,array("intent","web"))}>
                    &nbsp;|&nbsp;<a href="/admin/adoperate/editintent?id=<{$item.id}>">[编辑]</a>
                    <{elseif $item.protocol == 'http' && in_array($item.action,array("detail","preferential_detail"))}>
                    &nbsp;|&nbsp;<a href="/admin/adoperate/editdetail?id=<{$item.id}>">[编辑]</a>
                    <{else}>
                    &nbsp;|&nbsp;<a href="/admin/adoperate/editclickdetail?id=<{$item.id}>">[编辑]</a>
                    <{/if}>
                </td>
            </tr>
            <{/foreach}>
            <{/if}>
            </tbody>
        </table>
        <div id="pages"><{$adPages}></div>
    </div>
</div>
</body>
</html>