<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/clipboard/ZeroClipboard.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("支付宝待付款");
        })

        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;

        function sures(){
            if(confirm('请确定后继续？')){
                return true;
            }else{
                return false;
            }
        }
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
        .clipinner{position:relative}
        .clipboardswf{position:absolute; left:0; top:0}
    </style>
</head>
<body>
<div class="subnav">
    <h2 class="title-1 line-x f12 fb blue lh28">支付宝待付款</h2>
    <div class="content-menu ib-a blue line-x">
        <div class="rt">
            <link href="/js/calendars/jscal2.css" type="text/css" rel="stylesheet">
            <link href="/js/calendars/border-radius.css" type="text/css" rel="stylesheet">
            <link href="/js/calendars/win2k.css" type="text/css" rel="stylesheet">
            <script src="/js/calendars/calendar.js" type="text/javascript"></script>
            <script src="/js/calendars/calendar.js" type="text/javascript"></script>
            <script src="/js/calendars/lang/en.js" type="text/javascript"></script>
            <form action="/admin/audit_pay/" method="post" name="form_member_search">
                时间搜索：
                <input type="text" name="start_time" id="start_time" class="date input-text" type="text" readonly="" size="18">
                <script type="text/javascript">
                    date = new Date();document.getElementById ("start_time").value="<{$startTime}>";
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "start_time",
                        trigger : "start_time",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect : function() {this.hide();}
                    });
                </script>
                <input type="text" name="end_time" id="end_time" class="date input-text" type="text" readonly="" size="18">
                <script type="text/javascript">
                    date = new Date();document.getElementById ("end_time").value="<{$endTime}>";
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "end_time",
                        trigger : "end_time",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect : function() {this.hide();}
                    });
                </script>
                <select name="type">
                    <option value='1' >记录ID</option>
                    <option value='2' >支付账户</option>
                    <option value='3' >用户ID</option>
                </select>
                <input name="keyword" type="text" value="<{$keyword}>" class="input-text" />
                <input type="submit" name="search" class="button" value="搜索" />
            </form>
        </div>
        <a href="/admin/audit_pay/" class="on">
            <em>支付宝待付款</em>
        </a>
        <span>|</span>
        <a href="/admin/audit_pay/history">
            <em>支付宝已付款</em>
        </a>
        <span>|</span>
        <a href="/admin/audit_pay/excel?type=<{$type}>&keyword=<{$keyword}>&start_time=<{$startTime}>&end_time=<{$endTime}>">
            <em>待付款导出</em>
        </a>
    </div>
</div>
<div class="pad-lr-10">
    <form action="/admin/audit_pay/audit" method="post" name="form_member_manage">
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th align="left" width="40"><input type="checkbox" value="" id="check_box" onclick="selectall('aid[]');"></th>
                <th align="left">ID</th>
                <th align="left">用户ID</th>
                <th align="left">实际支付金额(单位:元)</th>
                <th align="left">支付账户</th>
                <th align="left">支付姓名</th>
                <th align="left">身份证号</th>
                <th align="left">更新时间</th>
                <th align="left"  width="60">操作</th>
                <th align="left"></th>
            </tr>
            </thead>
            <tbody>
            <{if $auditList}>
            <{foreach from=$auditList item=item key=key}>
            <{if $item.ish == 1}>
            <tr style="background: none repeat scroll 0 0 #FFDEB1;">
                <{else}>
            <tr>
                <{/if}>
                <td><input name="aid[]" id="aid[]" type="checkbox" value="<{$item.id}>"></td>
                <td align="left">
                    <{$item.id}>
                    <input id="copy_btn_<{$item.id}>" type="button" class="button_copy" data='<{$item.id}>' value="复制" />
                    <input id="copy_txt_<{$item.id}>" type="hidden" value="<{$item.id}>红包锁屏" />
                    <span id="copy_tag_<{$item.id}>"></span>
                </td>
                <td align="left"><{$item.uid}></td>
                <td align="left"><{$item.pay/100}></td>
                <td align="left"><{$item.pay_content}></td>
                <td align="left"><{$item.pay_user_name}></td>
                <td align="left"><{$item.pay_idcard}></td>
                <td align="left"><{$item.update_time}></td>
                <td align="left" width="60">
                    <{if 2 == $item.pay_status}>
                    <form action="/admin/audit_pay/audit" method="post" onsubmit="return sures()">
                        <input type="hidden"  name="pay_id" value="<{$item.id}>" />
                        <input type="hidden"  name="page" value="<{$page}>"/>
                        <input type="submit" class="button" name="dosubmit" value="通过" />
                    </form>
                    <{/if}>
                </td>
                <td align="left" class="content-menu ib-a blue line-x">
                    <{if 2 == $item.pay_status}>
                    <a class="add fb" style="margin: 5px 0 0 0;" href="javascript:window.top.art.dialog({id:'refundld',iframe:'/admin/audit_pay/refund?pay_id=<{$item.id}>',title:'退款', width:'400', height:'165', lock:true},
                    function(){var d = window.top.art.dialog({id:'refundld'}).data.iframe;var form = d.document.getElementById('dosubmit');form.click();
                    window.location = '/admin/audit_pay/?page=<{$page}>'; return false;},
                    function(){window.top.art.dialog({id:'refundld'}).close()});void(0);"><em>退款</em></a>
                    <{/if}>
                </td>
            </tr>
            <{/foreach}>
            <{/if}>
            </tbody>
        </table>
        <div class="btn">
            <label for="check_box">全选/取消</label>
            <input type="submit" class="button" value="通过" onclick="return confirm('您确定要通过吗？')"/>
            <span><b>总金额:<{$auditPaySum/100}></b>&nbsp;&nbsp;</span>
            <span><b>总记录数:<{$auditCount}></b></span>
        </div>
        <div id="pages"><{$auditPages}></div>
    </div>
    </form>
</div>
<script language="JavaScript">
    $(".button_copy").each(function(i){
        var id = $(this).attr('data');
        var clip=null;
        clip = new ZeroClipboard.Client();
        clip.setHandCursor( true );
        clip.setText( $("#copy_txt_"+id).val() );
        clip.addEventListener('complete', function (client, text) {
            document.getElementById('copy_tag_'+id).innerHTML ="ok";
        });
        clip.glue( 'copy_btn_'+id);
    });
</script>
</body>
</html>