<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/styleswitch.js"></script>
    <script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("banner广告编辑");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>

</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});
        $("#banner_name").formValidator({onshow:"请输入名称",onfocus:"名称限制在10-50个字符"}).inputValidator({min:10,max:50,onerror:"名称限制在10-50个字符"});
        $("#click_url").formValidator({onshow:"请输入链接",onfocus:"请正确输入链接"}).regexValidator({regexp:"url",datatype:"enum",onerror:"链接格式错误"});
    })
    //-->
</script>

<{$page_header}>

<div class="pad-lr-10">
    <form action="/admin/coupon/add_user_id" enctype="multipart/form-data" autocomplete="off" method="post" id="myform">
        <table width="100%" class="table_form">
            <tbody>
            <tr>
                <th width="100">coupon名称：</th>
                <td class="y-bg"><input type="text" style="width:30%" class="input-text" name="coupon_name" readonly id="coupon_name" value="<{$coupon_res['name']}>"/></td>
            </tr>
            <tr class = "user_id_upload">
                <th width="100">上传用户uid列表文件：</th>
                <td class="y-bg"> <input type="file" name="user_id_upload" id="user_id_upload" /> </td>
            </tr>
            </tbody>
        </table>
        <div class="bk15"></div>
        <input type="hidden" name="id" value="<{$coupon_res['id']}>" />
        <input type="submit" class="button" id="dosubmit" name="dosubmit" value="提交" />
    </form>
</div>
</body>


</html>