<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("动作收益统计");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">收益统计</h2>
    <div class="content-menu ib-a blue line-x">
        <div class="rt">
            <form action="/admin/income/type" method="post" name="form_member_search">
                时间搜索：
                <link rel="stylesheet" type="text/css" href="/js/calendar/calendar-blue.css"/>
                <script type="text/javascript" src="/js/calendar/calendar.js"></script>
                <input type="text" name="start_time" id="start_time" value="" size="10" class="date" readonly>&nbsp;
                <script language="javascript" type="text/javascript">
                    date = new Date();document.getElementById ("start_time").value="<{$startTime}>";
                    Calendar.setup({
                        inputField     :    "start_time",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    false,
                        timeFormat     :    "24"
                    });
                </script>
                <input type="text" name="end_time" id="end_time" value="" size="10" class="date" readonly>&nbsp;
                <script language="javascript" type="text/javascript">
                    date = new Date();document.getElementById ("end_time").value="<{$endTime}>";
                    Calendar.setup({
                        inputField     :    "end_time",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    false,
                        timeFormat     :    "24"
                    });
                </script>
                <select name="select_type">
                    <option value="">请选择动作类别</option>
                    <{if $actionType}>
                    <{foreach from=$actionType item=item key=key}>
                    <option value="<{$key}>"><{$item}></option>
                    <{/foreach}>
                    <{/if}>
                </select>
                <input type="submit" name="search" class="button" value="搜索" />
            </form>
        </div>
        <a href="/admin/income/">
            <em>收益统计</em>
        </a>
        <span>|</span>
        <a href="/admin/income/type" class="on">
            <em>动作收益统计</em>
        </a>
    </div>
</div>
<div class="pad-lr-10">
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th align="left">ID</th>
                <th align="left">时间</th>
                <th align="left">动作类别</th>
                <th align="left">金额(单位:元)</th>
                <th align="left">用户数量</th>
            </tr>
            </thead>
            <tbody>
            <{if $incomeList}>
            <{foreach from=$incomeList item=item key=key}>
            <tr>
                <td align="left"><{$item.id}></td>
                <td align="left"><{$item.cdate}></td>
                <td align="left"><{$item.action_type_name}></td>
                <td align="left"><{$item.score/100}></td>
                <td align="left"><{$item.user}></td>
            </tr>
            <{/foreach}>
            <tr>
                <td align="left"></td>
                <td align="left"><b>总金额:<{$incomeScoreSum/100}></b></td>
                <td align="left" colspan="5"><b>总记录数:<{$incomeCount}></b></td>
            </tr>
            <{/if}>
            </tbody>
        </table>
        <div id="pages"><{$incomePages}></div>
    </div>
</div>
</body>
</html>