<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("邀请白名单");
        })


        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }
        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body><div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">邀请白名单</h2>
    <div class="content-menu ib-a blue line-x">
        <div class="rt">
            <form action="/admin/invite_hold/exception" method="post" name="form_member_search">
                添加时间：
                <link rel="stylesheet" type="text/css" href="/js/calendar/calendar-blue.css"/>
                <script type="text/javascript" src="/js/calendar/calendar.js"></script>
                <input type="text" name="start_time" id="start_time" value="" size="10" class="date" readonly>&nbsp;
                <script language="javascript" type="text/javascript">
                    date = new Date();document.getElementById ("start_time").value="<{$startTime}>";
                    Calendar.setup({
                        inputField     :    "start_time",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    false,
                        timeFormat     :    "24"
                    });
                </script>
                <input type="text" name="end_time" id="end_time" value="" size="10" class="date" readonly>&nbsp;
                <script language="javascript" type="text/javascript">
                    date = new Date();document.getElementById ("end_time").value="<{$endTime}>";
                    Calendar.setup({
                        inputField     :    "end_time",
                        ifFormat       :    "%Y-%m-%d",
                        showsTime      :    false,
                        timeFormat     :    "24"
                    });
                </script>
                <input name="keyword" type="text" value="<{$keyword}>" class="input-text" />
                <input type="submit" name="search" class="button" value="搜索" />
            </form>
        </div>
        <a href="/admin/invite_hold/exception" class="on">
            <em>邀请白名单</em>
        </a>
        <span>|</span>
        <a href="/admin/invite_hold/exception_add">
            <em>添加邀请白名单</em>
        </a>
    </div>
</div>
<div class="pad-lr-10">
    <form action="/admin/invite_hold/exception_del" method="post" name="form_member_manage">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th align="left" width="40"><input type="checkbox" value="" id="check_box" onclick="selectall('uid[]');"></th>
                    <th align="left" width="60">用户ID</th>
                    <th align="left">创建时间</th>
                </tr>
                </thead>
                <tbody>
                <{if $holdList}>
                <{foreach from=$holdList item=item key=key}>
                <tr>
                    <td><input name="uid[]" id="uid[]" type="checkbox" value="<{$item.uid}>"></td>
                    <td align="center"><{$item.uid}></td>
                    <td align="left"><{$item.ctime}></td>
                </tr>
                <{/foreach}>
                <{/if}>
                </tbody>
            </table>
            <div class="btn">
                <label for="check_box">全选/取消</label>
                <input type="submit" class="button" value="删除" onclick="return confirm('您确定要删除吗？')"/>
            </div>
            <div id="pages"><{$holdPages}></div>
        </div>
    </form>
</div>
</body>
</html>