<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("邀请统计详细");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<div class="pad-lr-10">
    <h2 class="title-1 line-x f14 fb blue lh28"></h2>
    <table width="100%"  class="table_form">
        <tr><td></td></tr>
    </table>
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th align="left" width="60">邀请人ID</th>
                <th align="left">手机号</th>
                <th align="left">imsi号</th>
                <th align="left">状态</th>
                <th align="left">渠道</th>
                <th align="left">注册时间</th>
                <th align="left">注册IP</th>
                <th align="left">更新时间</th>
                <th align="left">余额</th>
                <th align="left">广告金额</th>
                <th align="left">右滑金额</th>
                <th align="left">注册金额</th>
                <th align="left">其他金额</th>
            </tr>
            </thead>
            <tbody>
            <{foreach from=$inviteList item=item key=key}>
            <tr>
                <td align="center"><{$item.uid}></td>
                <td align="left"><{$item.pnum}></td>
                <td align="left"><{$item.imsi}></td>
                <td align="left"><{$userStatus[$item.status]}></td>
                <td align="left"><{$item.channel}></td>
                <td align="left"><{$item.ctime}></td>
                <td align="left"><{$item.register_ip}></td>
                <td align="left"><{$item.update_time}></td>
                <td align="left"><{$item.score}></td>
                <td align="left"><{$item.score_ad}></td>
                <td align="left"><{$item.score_right_catch}></td>
                <td align="left"><{$item.score_register}></td>
                <td align="left"><{$item.score_other}></td>
            </tr>
            <{/foreach}>
            </tbody>
        </table>
        <div id="pages"><{$invitePages}></div>
    </div>
</div>
</body>
</html>