<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("批量打包IOS");
        })

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">打包管理</h2>
    <div class="content-menu ib-a blue line-x">
        <div class="rt"></div>
        <a href="/admin/package/"><em>打包记录</em></a>
        <span>|</span>
        <a href="/admin/package/batch_ios?dosubmit=1&abnormal=1"><em>iOS异常批量打包</em></a>
        <span>|</span>
        <a href="/admin/package/batch_ios?dosubmit=1"><em>IOS批量打包提交</em></a>
        <span>|</span>
        <a href="/admin/package/batch_ios" class="on"><em>IOS批量打包记录</em></a>
        <span>|</span>
        <em>记录数:<{$sumCount}></em>
        <span>|</span>
        <em>成功数:<{$succeeCount}></em>
        <span>|</span>
        <em class="red">失败数:<{$failCount}></em>
    </div>
</div>
<div class="pad-lr-10">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th align="left">邀请码</th>
                    <th align="left">渠道号</th>
                    <th align="left">状态</th>
                    <th align="left">操作时间</th>
                </tr>
                </thead>
                <tbody>
                <{if $redisGetList}>
                <{foreach from=$redisGetList item=item key=key}>
                <tr>
                    <td align="left"><{$item.uid}></td>
                    <td align="left"><{$item.channel}></td>
                    <td align="left"><{$item.status}></td>
                    <td align="left"><{$item.ctime}></td>
                </tr>
                <{/foreach}>
                <{/if}>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
</html>