<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/js/styleswitch.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("修改密码");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform"});
        $("#password").formValidator({onshow:"请输入密码",onfocus:"密码必须为6-20位之间"}).inputValidator({min:6,max:20,onerror:"密码必须为6-20位之间"});
        $("#newpassword").formValidator({onshow:"请输入密码",onfocus:"密码必须为有小写、大写、数字且10-16位字符"}).inputValidator({min:10,max:16,onerror:"密码必须为有小写、大写、数字且10-16位字符"});
        $("#newpassword2").formValidator({onshow:"请输入重复密码。",onfocus:"两次密码不同"}).inputValidator({min:10,max:16,onerror:"密码必须为有小写、大写、数字且10-16位字符"}).compareValidator({desid:"newpassword",operateor:"=",onerror:"两次密码不同"});
    })
    //-->
</script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">修改密码</h2>
</div>
<div class="pad-lr-10">
    <form action="/admin/manage/password" enctype="multipart/form-data" autocomplete="off" method="post" id="myform">
        <table width="100%" class="table_form">
            <tr>
                <th width="100">原密码：</th>
                <td><input type="password" class="input-text" name="password" id="password" value="" /></td>
            </tr>
            <tr>
                <th width="100" align="right">新密码：</th>
                <td><input type="password" class="input-text" name="newpassword"  id="newpassword" value="" /></td>
            </tr>
            <tr>
                <th width="100" align="right">再次输入：</th>
                <td><input type="password" class="input-text" name="newpassword2" id="newpassword2" value="" /></td>
            </tr>
        </table>
        <div class="bk15"></div>
        <input type="submit" class="button" name="dosubmit" value="提交" />
    </form>
</div>
</body>
</html>