<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("密码发送");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/js/formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript">
    <!--
    $(function(){
        $.formValidator.initConfig({autotip:true,formid:"myform"});
        $("#sms_mobile").formValidator({onshow:"请输入手机",onfocus:"手机格式错误",oncorrect:"正确"}).regexValidator({regexp:"mobile",datatype:"enum",onerror:"手机格式错误"}).ajaxValidator({
            type : "get",
            url : "/admin/smspasswd/ajaxmobile",
            data :"",
            datatype : "html",
            async:'false',
            success : function(data){
                if( data == "1" ){
                    return true;
                }else{
                    return false;
                }
            },
            buttons: $("#dosubmit"),
            onerror : "手机号不存在。",
            onwait : "请稍候..."
        });
        $("#sms_password").formValidator({onshow:"请输入密码",onfocus:"密码必须为6-20位之间"}).inputValidator({min:6,max:20,onerror:"密码必须为6-20位之间"});
    })
    //-->
</script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">密码发送</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/smspasswd/add" class="on"><em>密码发送</em></a>
        <span>|</span>
        <a href="/admin/smspasswd/"><em>密码发送记录</em></a>
    </div>
</div>
<div class="pad-lr-10">
    <form action="/admin/smspasswd/add" autocomplete="off" method="post" id="myform">
        <table width="100%"  class="table_form">
            <tr>
                <th width="80">手机号：</th>
                <td class="y-bg"><input type="text" class="input-text" name="sms_mobile" value="" id="sms_mobile" /></td>
            </tr>
            <tr>
                <th>密&nbsp;&nbsp;&nbsp;码：</th>
                <td class="y-bg"><input type="password" class="input-text" name="sms_password" value="" id="sms_password" /></td>
            </tr>
        </table>
        <div class="bk15"></div>
        <input type="submit" class="button" id="dosubmit" name="dosubmit" value="发送短信" />
    </form>
</div>
</body>
</html>