<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("中奖名单");})

        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">帖子抽奖(抽奖ID:<{$rid}>)</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/thread_raffle/raffle"><em>帖子抽奖</em></a>
        <span>|</span>
        <a href="/admin/thread_raffle/?page=<{$page}>"><em>帖子抽奖记录</em></a>
        <span>|</span>
        <a href="/admin/thread_raffle/winners?rid=<{$rid}>&page=<{$page}>" class="on"><em>中奖名单</em></a>
        <span>|</span>
        <a href="/admin/thread_raffle/excel?rid=<{$rid}>&page=<{$page}>" class="on"><em>中奖名单导出</em></a>
    </div>
</div>
<div class="pad-lr-10">
    <div class="table-list">
        <table width="100%" cellspacing="0">
            <thead>
            <tr>
                <th align="center">帖子ID</th>
                <th align="left">回帖ID</th>
                <th align="left">官网UID</th>
                <th align="left">官网昵称</th>
                <th align="left">邀请码</th>
                <th align="left">手机号</th>
                <th align="left">创建时间</th>
            </tr>
            </thead>
            <tbody>
            <{if $winnersList}>
            <{foreach from=$winnersList item=item key=key}>
            <tr>
                <td align="center">
                    <{$item.tid}>
                </td>
                <td align="left">
                    <{$item.pid}>
                    [<a href="<{$siteUrl}>thread-<{$item.tid}>-1-1.html#pid<{$item.pid}>" target="_blank">打开连接</a>]
                </td>
                <td align="left"><{$item.authorid}></td>
                <td align="left"><{$item.author}></td>
                <td align="left"><{$item.uid}></td>
                <td align="left"><{$item.pnum}></td>
                <td align="left"><{$item.createtime}></td>
            </tr>
            <{/foreach}>
            <{/if}>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>