<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("用户审核");})


        /**
         * 全选checkbox,注意：标识checkbox id固定为为check_box
         * @param string name 列表check名称,如 uid[]
         */
        function selectall(name) {
            if ($("#check_box").attr("checked")==false) {
                $("input[name='"+name+"']").each(function() {
                    this.checked=false;
                });
            } else {
                $("input[name='"+name+"']").each(function() {
                    this.checked=true;
                });
            }
        }
        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">用户审核</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/user/"><em>用户管理</em></a>
        <span>|</span>
        <a href="/admin/user/add"><em>添加用户</em></a>
    </div>
</div>
<div class="pad-lr-10">
    <form action="/admin/user/audit" method="post" id="myform">
        <table width="100%"  class="table_form">
            <tr>
                <th width="80" >手机号：</th>
                <td class="y-bg"><{$pnum}></td>
            </tr>
            <tr>
                <th>是否打款：</th>
                <td class="y-bg">
                    <{if $audit == 2}>
                        <input type="radio" name="audit" value="1" /> 是
                        <input type="radio" name="audit" checked value="2" /> 否
                    <{else}>
                        <input type="radio" name="audit" checked value="1" /> 是
                        <input type="radio" name="audit" value="2" /> 否
                    <{/if}>
                </td>
            </tr>
        </table>
        <div class="bk15"></div>
        <input type="hidden"  name="uid" value="<{$uid}>" />
        <input type="submit" class="button" name="dosubmit" value="提交" />
    </form>
</div>
</body>
</html>