<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=7" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理中心</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/system.css" rel="stylesheet" type="text/css" />
    <link href="/css/table_form.css" rel="stylesheet" type="text/css" />
    <link href="/css/dialog.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".table-list .wrap").wrap("<div style='overflow-y:auto;overflow-x:hidden;' class='scrolltable'></div>");
            window.onresize = function(){
                var wrapTr = $(".table-list .wrap tr").length*$(".table-list .wrap tr:eq(0)").height();
                var scrolltable = $(window).height()-$(".subnav").height()-160;
                if(wrapTr > scrolltable){
                    $(".scrolltable").height(scrolltable);
                }
            }
            window.onresize();
            $(".table-list tr th").each(function(i){
                i=i+1;
                var tabTh = $(".table-list tr th:eq("+i+")").width();
                $(".table-list .wrap tr:eq(0) td:eq("+i+")").width(tabTh)
            });
            parent.span_local("编辑版本");})

        /**
         * 屏蔽js错误
         */
        function killerrors() {
            return true;
        }
        window.onerror = killerrors;
    </script>
    <style type="text/css">
        html{_overflow-y:scroll}
    </style>
</head>
<body onbeforeunload="parent.showloading(1)">
<script language="javascript" type="text/javascript" src="/js/formvalidator.js" charset="UTF-8"></script>
<script language="javascript" type="text/javascript" src="/js/formvalidatorregex.js" charset="UTF-8"></script>
<div class="subnav">
    <h2 class="title-1 line-x f14 fb blue lh28">版本管理</h2>
    <div class="content-menu ib-a blue line-x">
        <a href="/admin/version/"><em>版本管理</em></a>
        <span>|</span>
        <a href="/admin/version/add"><em>添加版本</em></a>
        <em class="red">(小提示：* 必填项)</em>
    </div>
</div>
<div class="pad-lr-10">
    <form action="/admin/version/edit" enctype="multipart/form-data" autocomplete="off" method="post" id="myform">
        <table width="100%"  class="table_form">
            <tr>
                <th width="80">版本号：</th>
                <td class="y-bg"><{$getVersion.version}></td>
            </tr>
            <tr>
                <th width="80">投放尾号：</th>
                <td class="y-bg">
                    <label><input name="rate[]" type="checkbox" value="0" <{if $rate_list[0] == 1}>checked="true"<{/if}>/>0 </label>
                    <label><input name="rate[]" type="checkbox" value="1" <{if $rate_list[1] == 1}>checked="true"<{/if}>/>1 </label>
                    <label><input name="rate[]" type="checkbox" value="2" <{if $rate_list[2] == 1}>checked="true"<{/if}>/>2 </label>
                    <label><input name="rate[]" type="checkbox" value="3" <{if $rate_list[3] == 1}>checked="true"<{/if}>/>3 </label>
                    <label><input name="rate[]" type="checkbox" value="4" <{if $rate_list[4] == 1}>checked="true"<{/if}>/>4 </label>
                    <label><input name="rate[]" type="checkbox" value="5" <{if $rate_list[5] == 1}>checked="true"<{/if}>/>5 </label>
                    <label><input name="rate[]" type="checkbox" value="6" <{if $rate_list[6] == 1}>checked="true"<{/if}>/>6 </label>
                    <label><input name="rate[]" type="checkbox" value="7" <{if $rate_list[7] == 1}>checked="true"<{/if}>/>7 </label>
                    <label><input name="rate[]" type="checkbox" value="8" <{if $rate_list[8] == 1}>checked="true"<{/if}>/>8 </label>
                    <label><input name="rate[]" type="checkbox" value="9" <{if $rate_list[9] == 1}>checked="true"<{/if}>/>9 </label>
                    <span>|</span>
                    <label><input name="rate_all" type="checkbox" id="rate_all" value="10" onclick="is_rate_all(this)"/>全选 </label>
                </td>
            </tr>
            <tr>
                <th width="100">操作系统：</th>
                <td class="y-bg"><span id="os_type"><{$getVersion.os_type}></span></td>
            </tr>
            <tr>
                <th width="80">下载地址：</th>
                <td class="y-bg">
                    <input type="text" style="width:30%" class="input-text" name="dl_url" id="dl_url" value="<{$getVersion.dl_url}>"/>
                    &nbsp;<span class="red">*</span><span id="hint"></span>
                </td>
            </tr>
            <tr>
                <th width="80">升级说明：</th>
                <td class="y-bg">
                    <textarea id="what_news" name="what_news" style="height:160px; width:30%"><{$getVersion.what_news}></textarea>
                    &nbsp;<span class="red">*</span>
                </td>
            </tr>
            <tr>
                <th width="100"><span style="color: red">版本废弃：</span></th>
                <td class="y-bg">
                    <input type="radio" name="is_force" <{if 1 == $getVersion.update_is_force}>  checked="false" <{/if}> value="1" onclick="deprecate(this)">是
                    <input type="radio" name="is_force" <{if 1 != $getVersion.update_is_force}>  checked="false" <{/if}> value="0" onclick="deprecate(this)">否

                </td>
            </tr>
            <tr>
                <th width="100">推荐更新：</th>
                <td class="y-bg">
                    <{if 1 == $getVersion.update_is_recommend}>
                    <input type="radio" name="is_recommend" checked="" value="1">是
                    <input type="radio" name="is_recommend" value="0">否
                    <{else}>
                    <input type="radio" name="is_recommend" value="1">是
                    <input type="radio" name="is_recommend" checked="" value="0">否
                    <{/if}>
                </td>
            </tr>
            <tr>
                <th></th>
                <input type="hidden" name="id" value="<{$getVersion['id']}>" />
                <td class="y-bg"><input type="submit" class="button" id="dosubmit" name="dosubmit" value="提交" /></td>
            </tr>
        </table>
        <div class="bk15"></div>
    </form>
</div>


<script type="application/javascript">
    function is_rate_all(evt) {
        key = document.getElementById("rate_all");
        objName = document.getElementsByName("rate[]");
        if (key.checked) {
            for (var i = 0; i < objName.length; i++) {
                objName[i].checked = true;
            }
        }
        else {
            for (var i = 0; i < objName.length; i++) {
                objName[i].checked = false;
            }
        }
    }

    function is_ios(evt) {
        key = document.getElementById("os_type");
        if (key.innerHTML == 'ios') {
            document.getElementById("hint").innerHTML = "&nbsp;将plist文件链接填在url=之后"
        }
        else {
            document.getElementById("hint").innerHTML = ""
        }
    }

    function deprecate(e)
    {
        var node = document.getElementsByName("is_force");
        if(node[0].checked != "")
        {
            alert("确定废弃该版本?!")
        }
    }

    is_ios()
</script>

</body>
</html>